{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock%}

{% block content %}
<main>
  <h1>Projetos</h1>
  <section id="projetos">
    {% for projeto in projetos %}
    <div>
      <div>
        <div>
        <h3>
          <a href="{{ projeto.link }}">
            {{projeto.nome}}
          </a>
        </h3>
          <span>{{projeto.ano_inicio}}-{{projeto.ano_fim}}</span>
        </div>
        {% if projeto.tecnologias_list|length > 0 %}
        <ul>
          {% for tecnologia in projeto.tecnologias_list %}
            <li>
              <span>{{tecnologia}}</span>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
        <p>
          {{projeto.descricao}}
        </p>
    </div>
    <hr>
    {% empty %}
      <p>
        Nenhum projeto encontrado.
      </p>
    {% endfor %}
  </section>
</main>
{% endblock %}
